/* CUSTOM LISTS */

/* ordered list */
.kr-ul-list,
.kr-ol-list {
    padding-left: 0;
    list-style: none;
    margin: 15px auto;
}

.kr-ol-list {
    counter-reset: section;
    li {
        position: relative;
        padding-left: 30px;
        padding-bottom: 5px;
        &:before {
            counter-increment: section;
            content: counters(section,".") " ";
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 400;
            color: #000000;
            background: #ffffff;
            border: 2px solid $green-link;
            width: 20px;
            font-size: 13px;
            height: 20px;
            text-align: center;
            border-radius: 50%;
        }
        & > ul {
            margin-top: 10px;
            list-style: none;
            padding-left: 0;
            counter-reset: subsection;
            li:before {
                counter-increment: subsection;
                content: counter(section) "." counter(subsection) " ";
                border: none;
                background: none;
                color: $green-link;
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}

/* unordered list */

.kr-ul-list {
    li {
        position: relative;
        padding-left: 20px;
        padding-bottom: 5px;
        &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            left: 0;
            top: 5px;
            border: 2px solid $green-link;
            background: #ffffff;
            border-radius: 100%;
        }
        & > ul {
            margin-top: 10px;
            list-style: none;
            padding-left: 0;
            li:before {
                width: 8px;
                height: 8px;
                border: none;
                background: $green-link;
            }
        }
    }
}

